/* Custom font */
* {
  font-family: "Tiempos Text" !important;
}

/* Apply custom line-height on Windows */
@media (-moz-platform: windows) {
  * {
    line-height: 1 !important;
  }
}

/* Hide container info in url-bar */
#urlbar #userContext-label,
#urlbar #userContext-indicator,
#urlbar #userContext-icons {
  display: none !important;
}
